# This is the JCMT specific OMP config file
#
# 
#
# $Log$
# Revision 1.27  2007/03/03 20:22:58  timj
# add RxWB,WD2
#
# Revision 1.26  2007/02/24 02:39:00  timj
# add retrieve_scheme
#
# Revision 1.25  2006/11/06 20:14:51  kynan
# + added harp to to instruments key
#
# Revision 1.24  2006/09/30 00:10:26  bradc
# capture run number for use by OMP::FileUtils::files_on_disk()
#
# Revision 1.23  2006/09/28 20:08:03  bradc
# add flagfileregexp
#
# Revision 1.22  2006/09/09 00:54:14  bradc
# Hilo raw data directory is same as summit
#
# Revision 1.21  2006/09/06 17:34:32  bradc
# change nightrepemail to jcmt_ops
#
# Revision 1.20  2006/04/18 19:45:06  bradc
# add zone-of-avoidance parameters
#
# Revision 1.19  2006/02/01 21:12:47  bradc
# add basedatadir
#
# Revision 1.18  2005/12/30 01:16:38  timj
# add unretrievable instruments
#
# Revision 1.17  2005/12/14 00:42:33  bradc
# add override_semester
#
# Revision 1.16  2005/08/31 01:49:22  timj
# change default sort order on per-telescope basis
#
# Revision 1.15  2005/08/30 21:14:58  kynan
# added msbtabdisplayname key/value for specifying whether or not an msb's title (rather than target) should be displayed in an msb summary table.
#
# Revision 1.14  2004/12/02 20:07:18  bradc
# revert heterodyne instruments to rxa3, rxb3
#
# Revision 1.13  2004/12/01 19:16:30  bradc
# change heterodyne instruments to rxa3i, rxb
#
# Revision 1.12  2004/09/07 23:48:55  timj
# Allow host and domain aliases
#
# Revision 1.11  2003/08/01 00:16:07  bradc
# added 'rawdatadir' to default
#
# Revision 1.10  2003/07/31 23:47:31  bradc
# added groupregexp
#
# Revision 1.9  2003/06/30 23:53:04  bradc
# added reducedgroupdir and reduceddatadir
#
# Revision 1.8  2003/02/02 14:21:13  timj
# Support for "heterodyne" files on disk
#
# Revision 1.7  2003/02/01 03:33:48  timj
# Add Receivers to the list of instruments at JCMT
#
# Revision 1.6  2002/12/19 23:42:40  timj
# Add mail address for nightly reports
#
# Revision 1.5  2002/12/13 07:55:04  timj
# + Add logic for the concept of "EXTENDED TIME"
#
# Revision 1.4  2002/10/03 02:36:07  bradc
# added filenameregexp
#
# Revision 1.3  2002/09/24 23:15:54  bradc
# Added Domain:jach.hawaii.edu mirror of Domain:JAC.Hilo
#
# Revision 1.2  2002/09/24 19:41:49  timj
# Add instruments and move querycols
#
# Revision 1.1  2002/09/22 09:28:55  timj
# first test config file system
#
#

# freetimeut is the time outside which we do not charge projects for observations

[default]
reducedgroupdir=/jcmtdata/reduced/_+instrument+_/_+UTDATE+_
reduceddatadir=/jcmtdata/reduced/_+instrument+_/_+UTDATE+_
instruments=scuba,rxw,rxwb,rxwd2,rxa3,rxb3,heterodyne,acsis,harp,rxwd
querycols=projectid,priority,instrument,waveband,title,target,ra,dec,coordstype,ha,az,airmass,pol,type,timeest,remaining,obscount,checksum,msbid
filenameregexp=(\d{8}_dem_\d{4}.sdf|obs_\w+_\d{4}.dat)
groupregexp=(\w{3}_\w{3}_\d{4}\.dat|\d{8}_grp_\d{4}_\w{3}_\w{4,5}\.sdf)
freetimeut=03:30,19:30
nightrepemail=jcmt_ops@jach.hawaii.edu
rawdatadir=/jcmtdata/raw/_+instrument+_/_+UTDATE+_/dem
msbtabdisplayname=0
sortby=priority
retrieve_scheme=cadc
override_semester=
unretrievable=
basedatadir=/jcmtdata/raw/_+instrument+_
zoa_phase=0
zoa_target=SUN
zoa_radius=15
flagfileregexp=^\.[acfmiuvwxyz]\d{8}_(\d{4}(?:\d)?)\.ok$

[domain:JAC.Hilo]
ftpdir=/local/jcmt/ftp/jcmtar/archive

[domain:jach.hawaii.edu]
domainalias=JAC.Hilo

[host:hihi]
ftpdir=/export/ftp/pub/jcmt/jcmtar/archive
