# This is the UKIRT specific OMP config file
#
# $Log$
# Revision 1.1  2002/09/22 09:28:56  timj
# first test config file system
#
#

[default]
rawdatadir=/ukirtdata/raw/_+instrument+_/_+UTDATE+_
querycols=projectid,priority,instrument,waveband,title,target,ra,dec,coordstype,ha,airmass,pol,type,timeest,remaining,obscount,moon,cloud,disperser,checksum,msbid

[domain:JAC.Hilo]
ftpdir=/local/ukirt/ftp/omp/archive

[host:hihi]
ftpdir=/export/ftp/pub/ukirt/omp/archive
