div#layout_top_bar {
    background: #ff0000 !important;
    outline: 20px solid #880000 !important;
}

div#layout_side_bar, div#layout_side_control, div#layout_side_reopen {
    background: #ff0000 !important;
}

div#layout_side_bar ul:not(:last-child) {
    border-bottom: 2px solid #880000 !important;
}
